
.DS_Store
finessePython/fasttext_model/cc.en.300.bin
finessePython/fasttext_model/cc.en.100.bin
finessePython/fasttext_model/cc.en.200.bin
finessePython/all_word_vectors.npy
word_forms/
finessePython/new_word_list_vectors.npy
